<body data-spy="scroll" data-target="#menu-section">

<div class"loader"></div>

<div class="spinner">
  <div class="double-bounce1"></div>
  <div class="double-bounce2"></div>
</div>

<!--MENU SECTION START-->

<div class="p p-1"></div>
<div class="p p-2"></div>
<div class="p p-3"></div>
<div class="navbar navbar-inverse navbar-fixed-top scroll-me" id="menu-section" >
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a id="navname" class="navbar-brand" href="#">
        AJ STEVENS
      </a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#home">HOME</a></li>
        <li><a href="#team">ABOUT ME</a></li>
        <li><a href="#services">SERVICES</a></li>
        <li><a href="#work">WORK</a></li>
        <li><a href="#contact">CONTACT</a></li>
      </ul>
    </div>
  </div>
</div>
<!--MENU SECTION END-->

<div class="mainDiv" onload="loadFunction">
  <br> <br> <br>

  <div id="home" class="wum">
    <h1 class="wum-r1">Coming <span class="wum-small">very</span> Soon...</h1>
  </div>
  <h1 class="mainTitle">Let's Launch In...</h1>

    <!--TEAM SECTION START-->
  <section id="team" >
    <div class="container">

      <div class="row text-center header animate-in" data-anim-type="fade-in-up">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <h3>AJ Stevens </h3>
          <hr />
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row animate-in" data-anim-type="fade-in-up">
        <div class="col-xs-8 col-sm-0 col-md-3 col-lg-3">
          <div class="team-wrapper">
            <div class="team-inner" style="background-image: url('http://res.cloudinary.com/stevens1434/image/upload/v1509683358/BW_AJ20461_kznypl.jpg')" >
              <a href="#" target="_blank"> <i class="fa fa-twitter" ></i></a>
            </div>
            <div class="description">
              <h3> AJ Stevens</h3>
              <h5> <strong> Full-Stack Web Developer </strong></h5>
              <p>Eagle Scout - MBA - Terrible Fisherman</p>
            </div>
          </div>
        </div>
      <!-- </div>

      <div class="row aboutMe"> -->
        <h3 class="col-xs-12 col-sm-push-0 col-md-9 col-lg-9">About Me</h3>
        <p class="col-xs-12 col-sm-push-0 col-md-9 col-lg-9" id="aboutText">Curious full-stack web developer who loves working complex problems into simple, thoughtful solutions that cause good for others. I thrive while working in flexible and collaborative environments. I am always driving towards actionable decisions and goals, can liken most any working situation to my experience fishing (which is an ongoing learning process) or growing up working at the family-business, and have an absurd love of being near water.</p>
      </div>
    </div>

  </section>
    <!--TEAM SECTION END-->

  <!--HOME SECTION START-->
  <!-- <div id="home" >
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2 ">
        <div id="carousel-slider" data-ride="carousel" class="carousel slide  animate-in" data-anim-type="fade-in-up">
        <div class="carousel-inner">
          <div class="item active">
            <h3>PICTURE ONE</h3>
            <p>
              <img class="myPhoto" src="http://res.cloudinary.com/stevens1434/image/upload/v1509683358/BW_AJ20461_kznypl.jpg"/>
            </p>
          </div>
            <div class="item">
              <h3>Picture Two</h3>
              <p>
                <img class="myPhoto" src="http://via.placeholder.com/350x150"/>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row animate-in" data-anim-type="fade-in-up">
      <div class="col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 col-lg-8 col-lg-offset-2 scroll-me">
        <p>This line is fixed so you can write anything</p>
        <div class="social">
          <a href="#" class="btn button-custom btn-custom-one" ><i class="fa fa-facebook "></i></a>
          <a href="#" class="btn button-custom btn-custom-one" ><i class="fa fa-twitter"></i></a>
          <a href="#" class="btn button-custom btn-custom-one" ><i class="fa fa-google-plus "></i></a>
          <a href="#" class="btn button-custom btn-custom-one" ><i class="fa fa-linkedin "></i></a>
          <a href="#" class="btn button-custom btn-custom-one" ><i class="fa fa-pinterest "></i></a>
          <a href="#" class="btn button-custom btn-custom-one" ><i class="fa fa-github "></i></a>
        </div>
        <a href="#services" class=" btn button-custom btn-custom-two">See Service List </a>
        </div>
      </div>
    </div>
  </div> -->
  <!--HOME SECTION END-->
  <br id="break">
  <hr />
  <!--SERVICE SECTION START-->
  <section id="services" >
    <div class="container">
      <div class="row text-center header">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 animate-in" data-anim-type="fade-in-up">
          <h3>Technical & Nontechnical Experience</h3>
          <hr />
        </div>
      </div>
    <div class="row animate-in" data-anim-type="fade-in-up">
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <div class="services-wrapper">
          <i class="ion-document"></i>
          <img class="experience" src='https://pbs.twimg.com/profile_images/1444136902/GA_logo_1797cog.png'/>
          <h3>General Assembly</h3>
          Morbi mollis lectus et ipsum sollicitudin varius.
          Aliquam tempus ante placerat, consectetur tellus nec, porttitor nulla.      </div>
      </div>
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
      <div class="services-wrapper">
        <i class="ion-scissors"></i>
        <img class="experience" src='https://angelhack.com/wp-content/uploads/2016/02/cropped-RedCrown-192x192.png'/>
        <h3>AngelHack Hackathon</h3>
        Morbi mollis lectus et ipsum sollicitudin varius.
        Aliquam tempus ante placerat, consectetur tellus nec, porttitor nulla.    </div>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
      <div class="services-wrapper">
        <i class="ion-clipboard"></i>
        <img class="experience" src='https://daks2k3a4ib2z.cloudfront.net/55ee73092774e56f726eb332/56e4a4ae79caaf3a7ae5a76e_headset-webclip.png'/>
        <h3>Headset</h3>
        Morbi mollis lectus et ipsum sollicitudin varius.
        Aliquam tempus ante placerat, consectetur tellus nec, porttitor nulla.
      </div>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
      <div class="services-wrapper">
        <i class="ion-calendar"></i>
        <img class="experience" src='http://www.cmaworld.com/cma-music-festival/wp-content/uploads/sites/15/2017/05/GetWristband-225x225.png'/>
        <h3>FastBar</h3>
        Morbi mollis lectus et ipsum sollicitudin varius.
        Aliquam tempus ante placerat, consectetur tellus nec, porttitor nulla.
      </div>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
      <div class="services-wrapper">
        <i class="ion-tshirt-outline"></i>
        <img class="expimg" src='http://www.stineracing.com/images/links/hantz-logo.png'/>
        <h3>Hantz Financial</h3>
        Morbi mollis lectus et ipsum sollicitudin varius.
        Aliquam tempus ante placerat, consectetur tellus nec, porttitor nulla.
      </div>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
      <div class="services-wrapper">
        <i class="ion-speedometer"></i>
        <img class="expimg" src='http://www.cts-companies.com/proofing/wp-content/uploads/cts-cloud-logo-350.png'/>
        <h3>CTS Companies</h3>
        Morbi mollis lectus et ipsum sollicitudin varius.
        Aliquam tempus ante placerat, consectetur tellus nec, porttitor nulla.
        </div>
      </div>
    </div>
    </div>
  </section>
  <!--SERVICE SECTION END-->
   <hr /> <hr/>
  <!--WORK SECTION START-->
  <section id="work" >
    <div class="container">
      <div class="row text-center header animate-in" data-anim-type="fade-in-up">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <h3>My Work</h3>
          <hr />
        </div>
      </div>
      <div class="row text-center animate-in" data-anim-type="fade-in-up" >
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 pad-bottom"></div>
      </div>
      <div class="row text-center animate-in" data-anim-type="fade-in-up" id="work-div">
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 html">
          <div class="work-wrapper">
            <a class="fancybox-media" title="Image Title Goes Here" href="http://via.placeholder.com/350x150">
              <img src="http://via.placeholder.com/350x150" class="img-responsive img-rounded" alt="" />
            </a>
            <h4>Morbi mollis lectus et ipsum</h4>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 html code">
          <div class="work-wrapper">
            <a class="fancybox-media" title="Image Title Goes Here" href="http://via.placeholder.com/350x150">
              <img src="http://via.placeholder.com/350x150" class="img-responsive img-rounded" alt="" />
            </a>
            <h4>Morbi mollis lectus et ipsum</h4>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 script">
          <div class="work-wrapper">
            <a class="fancybox-media" title="Image Title Goes Here" href="http://via.placeholder.com/350x150">
              <img src="http://via.placeholder.com/350x150" class="img-responsive img-rounded" alt="" />
            </a>
            <h4>Morbi mollis lectus et ipsum</h4>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--WORK SECTION END-->
  <hr />
  <!--CONTACT SECTION START-->
  <section id="contact" >
    <div class="container">
      <div class="row text-center header animate-in" data-anim-type="fade-in-up">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <h3>Contact Details </h3>
      <hr />
      </div>
      </div>
      <div class="row animate-in" data-anim-type="fade-in-up">
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
          <div class="contact-wrapper">
            <h3>Social</h3>
            <p>Aliquam tempus ante placerat, consectetur tellus nec, porttitor nulla.</p>
            <div class="social-below">
              <a href="#" class="btn button-custom btn-custom-two" > LinkedIn</a>
              <a href="#" class="btn button-custom btn-custom-two" > Github</a>
              <a href="#" class="btn button-custom btn-custom-two" > Google +</a>
              <a href="#" class="btn button-custom btn-custom-two" > Twitter</a>
              <a href="#" class="btn button-custom btn-custom-two" > Google +</a>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
          <div class="contact-wrapper">
            <h3>Contact</h3>
            <h4><strong>Email : </strong> stevens1434@gmail.com </h4>
            <h4><strong>Call : </strong> 248.408.8248 </h4>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
          <div class="contact-wrapper">
            <h3>Location </h3>
            <h4>  Fremont, WA, </h4>
            <h4>United States</h4>
            <div class="footer-div" >
            &copy; 2015 YourDomain | <a href="http://www.designbootstrap.com/" target="_blank" >by DesignBootstrp</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<script href="../../js/script.js" type="text/javascript">
  setTimeout(function() {
    $(".mainDiv").show();
    $(".spinner").hide();
  }, 3000);
</script>
