<body data-spy="scroll" data-target="#menu-section">



<!-- <div class="space">
  <div id="stars"></div>
  <div id="stars2"></div>
  <div id="stars3"></div>
  <div id="ship">
    <div class="hull-top"></div>
    <div class="hull-bottom"></div>
    <div class="wings"></div>
    <div class="nose"></div>
  </div>
</div> -->

<div class="loader">
  <div class="loader-circle">
    <div>
      <div class="loader moon-loader">
        <div class="loader-circle">
          <div class="loader-moon-size"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="loader-sun"></div>
</div>

<!--MENU SECTION START-->

<div class="p p-1"></div>
<div class="p p-2"></div>
<div class="p p-3"></div>
<div class="p p-4"></div>
<div class="navbar navbar-inverse navbar-fixed-top scroll-me" id="menu-section" >
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a id="navname" class="navbar-brand" href="#">
        AJ STEVENS
      </a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#home" >HOME</a></li>
        <li><a href="#team">ABOUT ME</a></li>
        <li><a href="#services">EXPERIENCE</a></li>
        <li><a href="#work">WORK</a></li>
        <li><a href="#contact">CONTACT</a></li>
      </ul>
    </div>
  </div>
</div>
<!--MENU SECTION END-->

<div class="mainDiv" onload="loadFunction">
  <br> <br> <br>
  <div class="row">
  <div id="home" class="wum">
    <h1 class="wum-r1 col-xs-4 col-sm-6 col-md-10 col-lg-12">Coming
      <span class="wum-small">
        very
      </span>
      Soon...
    </h1>
  </div>
</div>
  <h1 class="mainTitle col-xs-12 col-sm-12 col-md-10 col-lg-12">Let's Launch In...</h1>

    <!--TEAM SECTION START-->
  <section id="team" >
    <div class="container">

      <div class="row text-center header animate-in" data-anim-type="fade-in-up">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <h3>AJ Stevens </h3>
          <hr />
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row animate-in" data-anim-type="fade-in-up">
        <div>
          <div class="col-xs-8 col-sm-0 col-md-3 col-lg-3 col-xl-3 teambox">
            <div class="team-wrapper">
              <div class="team-inner" style="background-image: url('http://res.cloudinary.com/stevens1434/image/upload/v1509683358/BW_AJ20461_kznypl.jpg')" >
                <a href="#" target="_blank"> <i class="fa fa-twitter" ></i></a>
              </div>
              <div class="description">
                <h3> AJ Stevens</h3>
                <h5> <strong> Full-Stack Web Developer </strong></h5>
                <p>Eagle Scout - MBA - Terrible Fisherman</p>
              </div>
            </div>
          </div>
        </div>
      <!-- </div>

      <div class="row aboutMe"> -->
      <div class="row">
        <h3 class="col-xs-12 col-sm-push-0 col-md-9 col-lg-7 col-xl-8">About Me</h3>
        <p class="col-xs-12 col-sm-push-0 col-md-9 col-lg-7 col-xl-8" id="aboutText">Curious full-stack web developer who loves working complex problems into simple, thoughtful solutions that cause good for others. I thrive while working in flexible and collaborative environments. I am always driving towards actionable decisions and goals, can liken most any working situation to my experience fishing (which is an ongoing learning process) or growing up working at the family-business, and have an absurd love of being near water.</p>
      </div>
      </div>
    </div>

  </section>
    <!--TEAM SECTION END-->

  <!--HOME SECTION START-->
  <!-- <div id="home" >
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2 ">
        <div id="carousel-slider" data-ride="carousel" class="carousel slide  animate-in" data-anim-type="fade-in-up">
        <div class="carousel-inner">
          <div class="item active">
            <h3>PICTURE ONE</h3>
            <p>
              <img class="myPhoto" src="http://res.cloudinary.com/stevens1434/image/upload/v1509683358/BW_AJ20461_kznypl.jpg"/>
            </p>
          </div>
            <div class="item">
              <h3>Picture Two</h3>
              <p>
                <img class="myPhoto" src="http://via.placeholder.com/350x150"/>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row animate-in" data-anim-type="fade-in-up">
      <div class="col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 col-lg-8 col-lg-offset-2 scroll-me">
        <p>This line is fixed so you can write anything</p>
        <div class="social">
          <a href="#" class="btn button-custom btn-custom-one" ><i class="fa fa-facebook "></i></a>
          <a href="#" class="btn button-custom btn-custom-one" ><i class="fa fa-twitter"></i></a>
          <a href="#" class="btn button-custom btn-custom-one" ><i class="fa fa-google-plus "></i></a>
          <a href="#" class="btn button-custom btn-custom-one" ><i class="fa fa-linkedin "></i></a>
          <a href="#" class="btn button-custom btn-custom-one" ><i class="fa fa-pinterest "></i></a>
          <a href="#" class="btn button-custom btn-custom-one" ><i class="fa fa-github "></i></a>
        </div>
        <a href="#services" class=" btn button-custom btn-custom-two">See Service List </a>
        </div>
      </div>
    </div>
  </div> -->
  <!--HOME SECTION END-->
  <br id="break">
  <hr />
  <!--SERVICE SECTION START-->
  <section id="services" >
    <div class="container">
      <div class="row text-center header">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 animate-in" data-anim-type="fade-in-up">
          <h3>Technical & Nontechnical Experience</h3>
          <hr />
        </div>
      </div>
    <div class="row animate-in" data-anim-type="fade-in-up">
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 flip-container" ontouchstart="this.classList.toggle('hover');">
        <div class="services-wrapper flipper">
          <div class="row back">
              <p id="back">90+ hour/week, project intensive web development accelerator.
                Designed and built games and web apps using MVC, Databases, and CRUD.
                Also took advantage of advanced auth methods to secure applications, used Git for version control, and studied best practices.</p>
          </div>
          <i class="ion-document"></i>
          <img class="experience front" src='https://pbs.twimg.com/profile_images/1444136902/GA_logo_1797cog.png'/>
          <br><h3 class="front">General Assembly</h3>
          <p class="front ">Web development immersive <br><br>
          Worked over 10 hours per day on building web development skills</p>
        </div>
      </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 flip-container" ontouchstart="this.classList.toggle('hover');">
      <div class="services-wrapper flipper">
        <div class="back">
        <p id="back">Placed in top three of over 150 people and over 30 projects for an application, which allows a user to take a photograph of your physical library to explore your books by leveraging image recognition and Amazon Alexa.
We took advantage of Ruby on Rails, PostgreSQL, Node.js, Google Vision API, Google Books API, and Amazon Alexa.</p>
        </div>
        <i class="ion-scissors"></i>
        <img class="experience front" src='https://angelhack.com/wp-content/uploads/2016/02/cropped-RedCrown-192x192.png'/>
        <br><h3 class="front">AngelHack Hackathon</h3>
        <p class="front ">Developed Alexa app<br><br>
        Technologies: Ruby on Rails, PostgreSQL, Node.js, and multiple API's</p>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 flip-container" ontouchstart="this.classList.toggle('hover');">
      <div class="services-wrapper flipper">
        <div class="back headset">
          <p id="back">In addition to leading the salesteam, I worked directly with CTO to incorporate and implement new technologies associated with consumer needs.</p>
        </div>
        <i class="ion-clipboard"></i>
        <img class="experience front" src='https://daks2k3a4ib2z.cloudfront.net/55ee73092774e56f726eb332/56e4a4ae79caaf3a7ae5a76e_headset-webclip.png'/>
        <br><h3 class="front">Headset</h3>
        <p class="front ">Helped impliment new technologies and products <br><br>
        Developed unique perspective into web dev while working with CTO</p>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 flip-container" ontouchstart="this.classList.toggle('hover');">
      <div class="services-wrapper flipper">
        <div class="back fastbar">
          <p id="back">Oversaw development, design, and execution of sales process and worked directly with CTO to carry out operational goals.</p>
        </div>
        <i class="ion-calendar"></i>
        <img class="experience front" src='http://www.cmaworld.com/cma-music-festival/wp-content/uploads/sites/15/2017/05/GetWristband-225x225.png'/>
        <br><h3 class="front">FastBar</h3>
        <p class="front ">Worked with CTO to optimize user experience</p>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 flip-container" ontouchstart="this.classList.toggle('hover');">
      <div class="services-wrapper flipper">
        <div class="back">
          <p id="back">Hand picked by founder/CEO to manage underperforming office, driving up sales dramatically to become one of the top performing offices of 10.
            Mentored by Senior Vice President.</p>
        </div>
        <i class="ion-tshirt-outline hantz"></i>
        <img class="expimg front hantz" src='http://www.stineracing.com/images/links/hantz-logo.png'/>
        <br><h3 class="front hantz">Hantz Financial</h3>
        <p class="front hantz">Financial Planner <br><br>
          Managed turnaround of underperforming offices</p>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 flip-container" ontouchstart="this.classList.toggle('hover');">
      <div class="services-wrapper flipper">
        <div class="back">
          <p id="back">In separate roles managed inventory, accounts receivables, and aided in financial strategy.
            I consolidated monthly inventory within a working database and increased efficiencies for a 20 person ops team.
            I managed collection of over $100,000 of past due accounts.
            Developed new investment opportunities using operating and non-operating assets worth over $2 million dollars.</p>
        </div>
        <i class="ion-speedometer cts"></i>
        <img class="expimg front cts" src='http://www.cts-companies.com/proofing/wp-content/uploads/cts-cloud-logo-350.png'/>
        <br><br><h3 class="front cts">CTS Companies</h3>
        <p class="front cts">Managed Inventory, Accounts Receivables, and Financial Strategy <br><br>
          Invested over $2million in assets for the firm</p>
        </div>
      </div>
    </div>
    </div>
  </section>
  <!--SERVICE SECTION END-->
   <hr /> <hr/>
  <!--WORK SECTION START-->
  <section id="work" >
    <div class="container">
      <div class="row text-center header animate-in" data-anim-type="fade-in-up">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <h3>My Work</h3>
          <hr />
        </div>
      </div>
      <div class="row text-center animate-in" data-anim-type="fade-in-up" >
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 pad-bottom"></div>
      </div>
      <div class="row text-center animate-in" data-anim-type="fade-in-up" id="work-div">
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 html">
          <div class="work-wrapper">
            <a class="fancybox-media" title="Rainy Day" href="http://via.placeholder.com/350x150" target="_blank">
              <img class="workimg" src="http://res.cloudinary.com/stevens1434/image/upload/c_fit,h_747,w_997/RainyDay_cbgrng.png" class="img-responsive img-rounded" alt="" />
            </a>
            <h4>Rainy Day</h4><p>Personal Finance App</p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 html code">
          <div class="work-wrapper">
            <a class="fancybox-media" title="My Movie Database" href="https://mymoviedatabase.herokuapp.com/" target="_blank">
              <img class="workimg" src="http://res.cloudinary.com/stevens1434/image/upload/c_lfill,h_747,w_997/v1507626895/home-screen_mvvxpk.png" class="img-responsive img-rounded" alt="" />
            </a>
            <h4>My Movie Database</h4><p>Private Cinema Database</p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 script">
          <div class="work-wrapper">
            <a class="fancybox-media" title="Maze Game" href="https://stevens1434.github.io/mazeproject/" target="_blank">
              <img class="workimg" src="http://res.cloudinary.com/stevens1434/image/upload/c_fit,h_747,w_997/Maze_n2vjpc.png" class="img-responsive img-rounded" alt="" />
            </a>
            <h4>Maze Game</h4><p>Multiplayer, Multi-Map Fun</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--WORK SECTION END-->
  <hr />
  <!--CONTACT SECTION START-->
  <section id="contact" >
    <div class="container">
      <div class="row text-center header animate-in" data-anim-type="fade-in-up">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <h3>Contact Details </h3>
      <hr />
      </div>
      </div>
      <div class="row animate-in" data-anim-type="fade-in-up">
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
          <div class="contact-wrapper">
            <h3>Social</h3>
            <p>You can find out more about me by following the links below.</p>
            <div class="social-below">
              <a href="https://drive.google.com/file/d/0BwsK_eOIzb5oTEhydUwyVjhPQnM/view?usp=sharing" target="_blank" class="btn button-custom btn-custom-two" > Resume </a>
              <a href="https://github.com/stevens1434" target="_blank" class="btn button-custom btn-custom-two" > Github </a>
              <a href="http://linkedin.com/in/stevens1434" target="_blank" class="btn button-custom btn-custom-two" > LinkedIn</a>
              <a href="mailto:stevens1434@gmail.com" target="_blank" class="btn button-custom btn-custom-two" > Email </a>
              <!-- <a href="plus.google.com/+AndrewJStevens" target="_blank" class="btn button-custom btn-custom-two" > Google + </a> -->
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
          <div class="contact-wrapper">
            <h3>Contact</h3>
            <h4><strong>Gmail : </strong> <a href="mailto:stevens1434@gmail.com" target="_blank" > stevens1434 </a> </h4>
            <h4><strong>Cell : </strong> 248.408.8248 </h4>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
          <div class="contact-wrapper">
            <h3>Location </h3>
            <h4>  Fremont, WA, </h4>
            <h4>United States</h4>
            <div class="footer-div" >
            &copy; Me | <a href="https://github.com/stevens1434" target="_blank" >by AJ Stevens</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<!-- <script href="../../js/script.js" type="text/javascript">
  // setTimeout(function() {
  //   $(".mainDiv").show();
  //   $(".space").hide();
  //   $(".loader").hide();
  // }, 3500);
  // $(".flipper").hover(function() {
  //   console.log("flipper hover");
  //   $(".back").show();
  //   $(".front").hide();
  // });
</script> -->
